# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# database file for sqlite3 created during test execution
*.db

# for local
# log/ Directory where log file(.log) are output
# bin/ Build binary files output destination
# coverage/ Test coverage files output destination
/log
/bin
/coverage
/db